.trigger {
 padding: 0 24px;
 font-size: 18px;
 line-height: 64px;
 cursor: pointer;
 transition: color 0.3s;
}

.trigger:hover {
 color: #1890ff;
}

.logo {
 height: 42px;
 margin: 0px;
 background: rgba(179, 179, 169, 0.3);
}

.ant-layout {
  min-height: 100vh;
}